.footer {
  padding: 10px;
  margin: 24px auto;
}

.iconsContainer {
  display: flex;
  justify-content: center;
  width: 400px;
  padding: 15px;
  margin: auto;
}

.author {
  text-align: center;
  font-style: italic;
  margin-bottom: 80px;
}

ion-icon {
  width: 48px;
  height: 40px;
  padding: 16px;
  transition: 0.6s;
}

ion-icon:hover {
  width: 60px;
  height: 52px;
  box-shadow: 2px 2px 4px #1976d2;
}
