footer {
  width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

footer p {
  text-align: center;
  font-size: 1.1rem;
  font-style: italic;
}

.socials {
  display: flex;
}

a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.image {
  width: 48px;
  height: 48px;
}

@media (max-width: 480px) {
  footer {
    margin: 48px auto;
    width: 248px;
  }
}
